.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
build/
dist/
*.egg-info/
deployment/
deployment_whisper/
*.exe
*.spec
nuitka-crash-report.xml
logs/
*.log
release/
installers/
models/
mp_modules/
whisper.cpp/
whisper_bundle/
sitecustomize.py
pysidedeploy.spec
hgr-download-page/
